<h1>Pirate</h1>
<ul>
  <li><%= @pirate.name %></li>
  <li><%= @pirate.weight %></li>
  <li><%= @pirate.height %></li>

</ul>

<h2>First Ship</h2>
  <ul>
  <li><%= @first_ship.name %></li>
  <li><%= @first_ship.type %></li>
  <li><%= @first_ship.booty %></li>

</ul>

<h2>Second ship</h2>
  <ul>
  <li><%= @second_ship.name %></li>
  <li><%= @second_ship.type %></li>
  <li><%= @second_ship.booty %></li>

</ul>